body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  position: relative;
  background-color: black;
}

.bg { 
  background: url(img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  overflow: hidden;
}
body, a:link, a:visited, a:active{
  text-decoration: none;
 }
 a:hover {
  color: white;
 }
.button, .title{
  padding:5px 12px;
  float:right;
  color:lightblue;
}
.title {
  float: left;
}
.addDancerButton {
  color:orange;
}
.topbar{
  height:32px;
  background-color: #555;
  z-index: 100;
  position: relative;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;

}
.dancer img {
  width:100%;
}

/* Bubble styling */

@keyframes bubbleUp {
  0% {bottom:-100px;-webkit-transform:scale(.9);opacity:0}
  1% {bottom:-100px;-webkit-transform:scale(.3);opacity:0}
  30% {bottom:-100px;-webkit-transform:scale(.8);opacity:1}
  95% {bottom:80%;-webkit-transform:scale(.3);opacity:1}
  99% {bottom:90%;-webkit-transform:scale(3);opacity:0}
  100% {bottom:-100px;-webkit-transform:scale(.9);opacity:0}
}
.bubble {
  background:#fff;
  width:80px;
  height:80px;
  position:absolute;
  display:block;
  left:110px;
  bottom:110px;
  border-radius:100px; 
  background:-moz-radial-gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background:-webkit-gradient(radial, center center, 0, center center, 100, from(rgba(75,190,200,.2)), to(rgba(255,255,255,.7)));
  background:gradient(center 45deg, circle closest-corner, rgba(75,190,200,0), rgba(75,190,200,.1), rgba(75,190,200,.3), rgba(255,255,255,.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0) 0%, rgba(9,133,167,0.1) 51%, rgba(9,133,167,0.3) 71%, rgba(9,133,167,.7) 100%);
  animation:bubbleUp 4s infinite ease-in-out;
  -webkit-animation:bubbleUp 4s infinite ease-in-out;
  -o-animation:bubbleUp 4s infinite ease-in-out;
  -moz-animation:bubbleUp 4s infinite ease-in-out;
}


